src/xsd/ServiceBanque.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- convertion du fichier java en structure XML -->
<!ELEMENT BanqueService (conversion, getComptes, getCompte)>
<!ELEMENT conversion (montant)>
<!ELEMENT montant (#PCDATA)>
<!ELEMENT getComptes (Compte+)>
<!ELEMENT getCompte (Compte)>
<!ELEMENT Compte (code, solde, dateCreation)>
<!ELEMENT solde (#PCDATA)>
<!ELEMENT solde (#PCDATA)>
<!ELEMENT dateCreation (#PCDATA)>